data/*
examples/*.gif
examples/.ipynb_checkpoints/*
examples/.DS_Store
examples/plots
.DS_Store
development/.ipynb_checkpoints/*
scripts/.DS_Store
scripts/*.dat
tests/__pycache__/
tobac_flow/__pycache__/
