.coverage
.DS_Store
__pycache__
build/
data/*
development/.ipynb_checkpoints/*
examples/*.gif
examples/.ipynb_checkpoints/*
examples/.DS_Store
examples/plots
scripts/.DS_Store
scripts/*.dat
src/tobac_flow.egg-info/
src/tobac_flow/.coverage
src/tobac_flow/__pycache__/
src/tobac_flow/_watershed.c
src/tobac_flow/_watershed.cpython-310-darwin.so
tests/__pycache__/
trace
