.coverage
.DS_Store
__pycache__
build/
data/*
*.ipynb
*.html
*.json
*.so
development/.ipynb_checkpoints/*
examples/*.gif
examples/.ipynb_checkpoints/*
examples/.DS_Store
examples/plots
scripts/.DS_Store
scripts/*.dat
tobac_flow.egg-info/
tobac_flow/_watershed.c
src/tobac_flow/_watershed.cpython-310-darwin.so
src/
trace
